:root {
    --main-bg-color: #F5F5DC;
    --main-color: #1A3E72;
    --main-color-light: #D7E4FF;
}

body {
    background: var(--main-bg-color);
}

html {
    scroll-behavior: smooth;
}

#start-view {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin: 0;
}

#start-view h1 {
    font-size: 60px;
}

#start-button {
    padding-top: 30px;
    color: var(--main-color);
    font-size: 40px;
    transition: transform 0.3s ease;
}

#start-button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#table-view {
    margin: 50px;
}

#year {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--main-color);
    padding: 0px 0px 10px 0px;
    cursor: pointer;
    width: 120px;
}

#table-and-chart-container {
    display: flex;
    gap: 40px;
}

#table-box {
    background-color: var(--main-color-light);
    flex: 1;
    border: 1px solid var(--main-color);
    border-radius: 12px;
}

#table-box div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: 1px solid var(--main-color);
}

#table-box div:nth-last-child(-n + 5) {
    background: #F76F71;
}

#table-box div:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
}

#table-box div:nth-child(2) {
    background-color: #D4AF37;
    color: #333;
}

#table-box div:last-child {
    border-bottom: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#table-box div:hover {
    cursor: pointer;
    font-weight: 700;
}